html{
    max-width:100% !important;
    width:100% !important;
}
body{
    height:200vh;
    max-width:100% !important;
}
nav{
  background-color: rgba(0,0,0,0.5) !important;
  
}
#para01 {
  height: 1000px!important;
}
.foto_me{
    margin-top:01%;
    margin-left:02%;
    border:1px solid rgba(0,0,0,0.5) !important;
    border-radius: 10px;
    opacity: 0.8;
}
.foto_me_nav{
  margin-top:10%;
  border:2px solid white;
  border-radius: 10px;

}
.intro{
  font-weight:300;
  margin-top: 20%;
  padding-left :12%;
  text-shadow: -2px 3px 0 #636572, -7px 3px 0 #00020f;
  font-family: Courier,Lucida monospace

}
.foto.card{
   margin-top:12% !important;
   max-width: 80% !important;

}
.contact.card{
    margin-top:06% !important;
    padding-top:05%;
}
.contact-titre{
    padding-left:10% !important;
    padding-right:10% !important;
}
.contact-text{
    text-align:justify;
    padding-left:07% !important;
    padding-right:07% !important;
}
.coordonnees{
    margin-top:12% !important;
    padding-top:05% !important;
}
.coord-icon {
    padding-left:20px;
}
.coord-item{
    padding:10px;
    margin-bottom:20px;
    border-radius: 30px;
}
.rezo-lien{
    margin-right:20px;
}
.apropos{
  padding-bottom:03%;
  padding-top:03%;
}
/* timeline */
.timeline {
    position: relative;
  }
  
  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
  }
  
  .timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
  }
  
  .timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
  }
  
  .timeline .timeline-event:first-child::before {
    display: none;
  }
  
  .timeline .timeline-event:last-child::after {
    display: none;
  }
  
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
  }
  
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
  }
  
  .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
  }
  
  .timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
  }
  .container.timeline{
      padding-bottom:03%;
  }
  
  @media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }
    .timeline .timeline-event::before {
      left: 19px;
    }
    .timeline .timeline-event::after {
      left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-badge {
      left: 0;
    }
    .monlaius{
      line-height: 1.2em;
    }
    #para01 {
      height: 300px!important;
    }
    .contact.card{
      height: 500px!important;
    }
    #apropos{
      height: 600px!important;
      
    }
  }
  @media (max-width: 400px){
    .monlaius{
      line-height: 1em;
    }
    .contact-text {
      font-size: 0.9em !important;
    }
    .contact.card{
      height: 400px!important;
    }
    #apropos{
      height: 600px!important;
      
    }
  }

 .card .card-image{
  height: 350px;
  overflow: hidden;
}
.card-image.bluepill {
  width: 40% !important;
  margin-left:10%;
}
span.bluepill{
  font-weight:bold;
  font-size:0.9em;
}
.parproport{
  padding:3% !important;
  font-weight:300;
  font-size:4em;
}
.parprojv{
  padding:3% !important;
  font-weight:300;
  font-size:2em;
}
.parproskills{
  padding:3% !important;
  font-weight:300;
  font-size:2em;
}
.parproweb{
  padding:3% !important;
  font-weight:300;
  font-size:2em;
}
.parpropro{
  padding:3% !important;
  font-weight:300;
  font-size:2em;
}
.parproform{
  padding:3% !important;
  font-weight:300;
  font-size:2em;
}
#para02 {
  position: relative;
}
.descrippara02{
  position : absolute;
  bottom : 10%;
  left: 10%;
  font-weight:300;
}
#para03 {
  position: relative;
}
.descrippara03{
  position : absolute;
  bottom : 10%;
  left: 10%;
  font-weight:300;
}
.card-title{
  font-weight:bold!important;
  font-size:1em !important;

}
.card-image.phoenix{
  width:60% !important;
  padding-top:5%;
  margin:auto;
}
.card-image.gimagin {
  width: 60% !important;
  padding:10%;
  
}
.card-image.nevrax {
  width: 90% !important;
  padding-left: 12%;
  padding-top: 15%;
  
}
.card-image.planet {
  width: 80% !important;
  padding-left: 50%;
  padding-top: 5%;
  
}
.card-image.club {
  width: 30% !important;
  padding-left: 10%;
  padding-top: 5%;
  
}
.card-image.isart {
  width: 40% !important;
  margin-left:40%;
}
.card-image.esma{
  width:80% !important;
  padding-top:3%;
  
}
.card-image.epitech {
  width: 60% !important;
  padding-top:01%;
  padding-left:20%;
}
.card-image.iut {
  width: 80% !important;
  padding-top:10%;
  padding-left:40%;
  
}
.card-image.bac {
  width: 90% !important;
  padding-left: 20%;
  padding-top: 10%;
  
}
.card.bitbitlove{
  background-color:rgb(98, 102, 138) !important;
}
.ryzom img{
  padding-top:30%;
  padding-left:04%;
  padding-right:04%;
}
.card.esteren{
  background: linear-gradient(to bottom, black 40%, #5d2542 60%);
}
.gss img{
  width:70% !important;
  margin:auto;
}
.bitlove img{
  padding-top:30%;
}
.portfolio{
  padding-bottom:05%;
}
.container.web{
  padding-bottom:03%;
}
.container.contact{
  padding-bottom:03%;
}
.partie_skills{
  height: 300px !important;
  padding-bottom:10% !important;
  padding-top:0% !important;
}
.skills{
  padding:1%;
  margin: auto;
}
.parprocontact {
  padding:3% !important;
  font-weight:300;
  font-size:2em;
}
.submit{
  padding-left:67%;
  padding-top:01% !important;
} 

